.env
.npmrc
dist/
*.log
test/javascriptsource/
test/javasource/
test/deployment/
test/.classpath
test/.project
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
test/theme/.sass-cache/

node_modules/
.editorconfig
.vscode/
test//
test/GPUCache/

mxproject
coverage
**/results
mendixProject
**/e2e/diffs
**/screenshot
**/screenshot-results
**/tests/testProject
**/artifacts
